<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Celtics API</title>
  </head>
  <body>
    <h1>Welcome to my API</h1>
    <p>This RESTful API that returns rich data about 2007-2008 champion Boston Celtics basketball team such as game results, fixtures, player details, and more information (Information in returned in JSON format).<p>
  </body>
</html>
